body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}

header, footer, .one {
    background-color: #1f2937;
}

header h2 {
    font-size: 24px;
    color: #f9faf8;
}

a:link {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
  }

nav ul {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    display: flex;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: extra-bold;
}

.two h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: extra-bold;
}

.three {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: light italic;
}

button, .four {
    background-color: #3882f6;
    font-size: 18px;
    color: #E5E7EB;
}